.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    height: 4rem;



    @media (min-width: 1024px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}